In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

## 测试TS回归，单因变量vs多因变量

In [3]:
# 3 factors
RP = np.random.normal(loc=0.0, scale=1.0, size=(10,3))
# 6 asset
Y = np.random.normal(loc=0.0, scale=1.0, size=(10,6))
# time-series average
EY = Y.mean(0)
ERP = RP.mean(0)

In [ ]:
pd.DataFrame(Y)

In [ ]:
pd.DataFrame(RP)

In [ ]:
pd.DataFrame(EY)

In [ ]:
pd.DataFrame(ERP)

In [ ]:
reg_1 = sm.OLS(Y[:,0],sm.add_constant(RP)).fit()

In [ ]:
reg_1.params

In [ ]:
reg_1.resid

In [ ]:
alpha = reg_1.params[0]
beta = reg_1.params[1:]

In [ ]:
beta.dot(ERP) + alpha

In [ ]:
EY[0]

### 多因变量

In [ ]:
# reg
reg = sm.OLS(Y,sm.add_constant(RP)).fit()
# first row is alpha for every asset i
alpha = reg.params[0,:]
# risk exposure for every asset i (column-wise)
beta = reg.params[1:,:]
# time-series mean for every asset i
EY = Y.mean(0)
# time-series mean for every asset i
ERP = RP.mean(0)

In [ ]:
# 就是对Y单列进行回归
# 与单列回归结果相同
pd.DataFrame(reg.params)

In [ ]:
alpha + np.matmul(ERP,beta)

In [ ]:
EY

## section 2

In [ ]:
    X = np.random.normal(loc=0.0, scale=1.0, size=(2000,10))
    y_list = []
    for i in range(10) :
        b = np.random.uniform(low=0.1, high=1.1, size=(10,1))
        e = np.random.normal(loc=0.0, scale=1.0, size=(2000,1))
        y = X.dot(b) + e 
        y_list.append(y)

In [ ]:
len(y_list)

In [ ]:
len(y_list[0])

In [ ]:
pd.DataFrame(X)

## CS 回归

In [4]:
# t= 1,2,...,10
# 3 factors
F = np.random.normal(loc=0.0, scale=1.0, size=(10,3))
# 6 asset, excess return
Y = np.random.normal(loc=0.0, scale=1.0, size=(10,6))

In [13]:
reg_ts = sm.OLS(Y,sm.add_constant(F)).fit()
# first row is intercept for every asset i
a = reg_ts.params[0,:]
# estimated risk exposure for every asset i (column-wise)
beta = reg_ts.params[1:,:]

In [14]:
pd.DataFrame(reg_ts.params)

          0         1         2         3         4         5
0 -0.341374  0.092723  0.424622  0.031597  0.047159  0.195053
1 -0.463374 -0.224426  0.867985 -0.943783 -0.203909  0.185636
2 -0.080338 -0.201688  0.044536  0.313736 -0.505022 -0.542245
3  0.162268 -0.042371 -0.320638 -0.231900  0.350961 -1.238862

In [9]:
EY = Y.mean(0)

In [15]:
EY

array([-0.05195839,  0.17819575, -0.1332985 ,  0.4886619 ,  0.21737735,
       -0.35241904])

In [18]:
reg_cs = sm.OLS(EY, beta.T).fit()

In [21]:
RP = reg_cs.params

In [23]:
alpha = reg_cs.resid